@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Hello ASP.NET MVC Core</title>
</head>
<body>
    <form method="post">
        <p>
            <label>Имя</label><br />
            <input type="text" name="Name" />
        </p>
        <p>
            <label>Возраст</label><br />
            <input type="number" name="Age" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</body>
</html>
