@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Hello ASP.NET MVC Core</title>
</head>
<body>
    <h3>@@Url.Action("Index", "Book", new { author = "Толстой", id = 10 }, null)</h3>
    <p>
        При использовании этого хелпера будет просто формироваться путь маршрута
        <b>"@Url.Action("Index", "Book", new { author = "Толстой", id = 10 }, null)"</b>,
        который можно использоваться для формированния ссылки для тега &lt;a&gt;:
        <a href="@Url.Action("Index", "Book", new { author = "Толстой", id = 10 }, null)">Толстой</a>
    </p>

    <h3>@@Url.RouteUrl(new { controller = "Book", action = "Index", author = "Толстой", id = 10 })</h3>
    <p>
        При использовании этого хелпера будет просто формироваться путь маршрута
        <b>"@Url.RouteUrl(new { controller = "Book", action = "Index", author = "Толстой", id = 10 })"</b>,
        который можно использоваться для формированния ссылки для тега &lt;a&gt;:
        <a href="@Url.RouteUrl(new { controller = "Book", action = "Index", author = "Толстой", id = 10 })">Толстой</a>
    </p>

    <h3>@@Url.Content</h3>
    <p>
        Преобразует пути из относительных в абсолютные.
    </p>
</body>
</html>
