@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Hello ASP.NET MVC Core</title>
</head>
<body>
    @await Component.InvokeAsync("PhonesList")
</body>
</html>
