@using HelloApp.Models;
@model List<Event>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Hello ASP.NET MVC Core</title>
</head>
<body>
    @foreach (var p in Model)
    {
        <pre>@p.Id      @p.Name     @p.EventDate</pre>
    }
</body>
</html>
